<div id="edit-flow">
  <div class="back-link">
    <a routerLink="/flows">
      <span class="back-symbol">&lt;</span> Manage Flows
    </a>
  </div>
  <app-stepper
    *ngIf="flow && stepsArray"
    [flow]="flow"
    [stepsArray]="stepsArray"
    [runFlowClicked]="runFlowClicked"
    [disableSelect]="disableSelect"
    (newStep)="openStepDialog($event)"
    (importStep)="importStepDialog($event)"
    (runFlow)="openRunDialog(flow)"
    (stopFlow)="openStopDialog($event)"
    (copyStep)="copyStepDialog($event)"
    (deleteStep)="deleteStepDialog($event)"
    (editFlow)="openFlowSettingsDialog()"
    (stepSelected)="stepSelected.emit($event)"
    (deleteFlow)="deleteFlowDialog()"
    (updateFlow)="updateFlow()"
    [step]="step"
    [(selectedStepId)]="selectedStepId"
    [flow]="flow"
    [databases]="databases" 
    [collections]="collections" 
    [entities]="entities">
    <cdk-step *ngFor="let step of stepsArray; let i = index" label="{{stepsArray[i].name}}">
      <app-step 
        [step]="step"
        [(selectedStepId)]="selectedStepId"
        [flow]="flow"
        [databases]="databases" 
        [collections]="collections" 
        [entities]="entities"
        [projectDirectory]="projectDirectory"
        [flowEnded]="flowEnded"
        [sourceQuery]="step.options.sourceQuery"
        [copyConns]="copyConns"
        (updateStep)="updateStep($event)"
      ></app-step>
    </cdk-step>
  </app-stepper>
  <http-error
    *ngIf="errorResponse.isError"
    [error]="errorResponse"
  ></http-error>
</div>
